<div class="container" style='margin-top: 80 px; margin-bottom:50 px;'>
    <div class="row">
        <h2>Agregar un nuevo producto</h2>
        <form action="/admin/novedades/agregar" method="post">
            <div class="mb-3">
                <label for="producto" class="form-label">Producto</label>
                <input type="text" class="form-control" id="producto" name="producto">
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea class="form-control" id="descripcion" rows="3" name='descripcion'></textarea>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input type="text" class="form-control" id="precio" name="precio">
            </div>
            <button type="submit" class="btn btn-warning">Guardar</button>
        </form>
        {{#if error}}
        <p>{{message}}</p>

        {{/if}}

    </div>
</div>