<div class="acceso">
    <div class="col">
        <a class="acceso" href="./admin/login">Acceso Privado</a>
    </div>
</div>

<div class="compras">

            <div class="logo">
                <img src="images/logo.png" alt="logo" width="200px" height="200px">
            </div>


            <div class="pasos">
                <h2>CÓMO COMPRAR</h2>
                <p>Cualquier consulta no dudes en comunicarte con nosotros al 0351-157 111111.
                <ol>

                    <li>Elige el producto que deseas comprar. (Puedes llamarnos por teléfono y confirmar la
                        disponibilidad si lo necesitas retirar en el día)</li>
                    <li>Haz clic en el botón de "Agregar al carrito". Esto agregará el producto a tu carrito y te
                        llevará al mismo.</li>
                    <li>Puedes seguir agregando otros productos al carrito o sino haz clic en "Iniciar Compra".</li>
                    <li>Completa tus datos de contacto y haz clic en "Continuar".</li>
                    <li>Elige nuestro local de Córdoba para retirar tu producto.</li>
                    <li>En el campo de observacion, especifica día y hora que vas a retirar tu producto.</li>
                    <li>Elige el medio de pago. Una vez que hayas elegido el medio de pago, haz clic en "Continuar".
                    </li>
                    <li>Finalmente en la página de Confirmación de compra puedes revisar toda la información de la
                        compra. Luego haz clic en "Continuar".</li>
                    <li>Ahí serás redirigido a otra pantalla para que completes los datos sobre la forma de pago
                        elegida. Después de confirmar la compra, recibirás un correo de nuestra parte, ese no será un
                        comprobante de pago.</li>
                    <li>Una vez acreditado el pago, puedes acercarte a nuestro local el dia y horario que nos
                        informaste, a retirar tu producto.</li>

                </ol>




            </div>


    </main>