<div class="accesos">
    <div class="col">
        <a class="acceso" href="./admin/login">Acceso Privado</a>
    </div>
</div>

<div class="sociales">
    <div class="logo">
        <img src="images/logo.png" alt="logo" width="250px" height="250px">
    </div>
    <div class="texto">
        <h2>Seguínos en nuestras redes</h2>
    </div>
    <div class="centrar">
        <a href="https://www.instagram.com/"><img src="images/instagram.png" alt="instagram" width="80px"
                height="80px"></a>
    </div>
    <div class="centrar">
        <a href="https://www.facebook.com/"><img src="images/facebook.png" alt="facebook" width="78px"
                height="78px"></a>
    </div>
    <div class="centrar">
        <a href="https://web.whatsapp.com/"><img src="images/whastapp.png" alt="instagram" width="63px"
                height="63px"></a>
    </div>


    <h2 class="verproductos"><a href="./productos">Ver más productos</a></h2>

    <div class="testimonios">
        <h2>Mirá lo que la gente dice de nuestras exquisiteces</h2>
        <div class="testimonio">
            <span class="cita">Exquisita la torta merengada, la compré para el día de la madre</span>
            <span class="autor">María Ledesma - Facebook</span>
        </div>
        <div class="testimonio">
            <span class="cita">¡Me encantaron los cupcakes!</span>
            <span class="autor">Jorge Rivadavia</span>
        </div>
        <div class="testimonio">
            <span class="cita">Son exquisitos todos sus productos, no se los pierdan</span>
            <span class="autor">Rosa Gallo - Instagram</span>
        </div>
    </div>




</div>


<div class="inicios">
    <div class="inicio">
        <a href="./productos"><img src="images/pastel1.jpg" alt="torta1" onmouseover="this.width=500;this.height=333;"
                onmouseout="this.width=450;this.height=262;" width="450" height="262"></a>
        <h2>CHEESECAKE DE FRUTOS ROJOS</h2>
        <p>Base crocante de galletas y manteca, crema de queso y limón combinada con una perfecta confitura casera de
            frambuesa. Es un producto de estación, sujeto a disponibilidad. Consulte con la sucursal más cercana.</p>
        <p><span class="precio">Precio: 3500</span></p>
    </div>
    <div class="inicio">
        <a href="./productos"></a><img src="images/pastel2.jpg" alt="torta2"
            onmouseover="this.width=500;this.height=333;" onmouseout="this.width=450;this.height=262;" width="450"
            height="262"></a>
        <H2>TARTA AMOR</H2>
        <p>Canasta húmeda de chocolate, dulce de leche, crema batida y frutos rojos.
        </p>
        <p><span class="precio">Precio: $2600</span></p>
    </div>
    <div class="inicio">
        <a href="./productos"><img src="images/pastel3.jpg" alt="torta3" onmouseover="this.width=500;this.height=333;"
                onmouseout="this.width=450;this.height=262;" width="450" height="262"></a>
        <H2>CUPCAKE TENTACIÓN</H2>
        <p> Individual Petit Marquise con tropezones de chococolate. Base húmeda de chocolate, dulce de leche, crema y
            merengue.
        </p>
        <p><span class="precio">Precio: $550</span></p>
    </div>

</div>