<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cakes and More</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/cakesandmore.css">
</head>



<body>
    <header>
        <div class="portada holder">
            <img src="images/portada.png" alt="CakesandMore">
        </div>
    </header>

    <nav>
        <ul class="holder">
            <li><a class="{{#if isHome}} activo{{/if}}" href="/">Inicio</a></li>
            <li><a class="{{#if isNosotros}} activo{{/if}}" href="/nosotros">Nosotros</a></li>
            <li><a class="{{#if isProductos}} activo{{/if}}" href="/productos">Productos</a></li>
            <li><a class="{{#if isCompras}} activo{{/if}}" href="/compras">Compras</a></li>
            <li><a class="{{#if isContacto}} activo{{/if}}" href="/contacto">Contacto</a></li>

        </ul>
    </nav>

    <main class="holder">
      {{{body}}}
      
    </main>

    <footer>
        <p>Diseñado por: Maira Pérez Tessino 2021</p>
    </footer>
</body>

</html>
