<div class="accesos">
    <div class="col">
        <a class="acceso" href="./admin/login">Acceso Privado</a>
    </div>
</div>

 <div class="nosotros holder">
            <img src="images/nosotros/nosotros.jpg" alt="">
        </div>



        <div class="HISTORIA holder">
            <h2>HISTORIA</h2>
            <p>Cake and More es un emprendimiento iniciado por Profesionales Gastronómicos egresados en Azafrán, inspirado en una Pastelería Artesanal contemporánea, que en un principio se especializó únicamente en tortas, pero hoy, cuenta con una gran variedad de Minicakes, Brownies, Alfajores, Cup Cakes, Cake Pops, Petit fours y más. Su objetivo es ofrecer un producto de alta calidad, excelente presentación, pero con el sabor de lo casero.</p>
            <p>El 11 de Diciembre del 2015 abrimos nuestro primer local en la ciudad de Córdoba.</p>
            <p>No dejes de visitarnos, esperamos siempre sorprenderte.</p>
            <p>Cake and More</p>
        </div>


    </main>