<div class="accesos">
    <div class="col">
        <a class="acceso" href="./admin/login">Acceso Privado</a>
    </div>
</div>

 <div class="lateral">
            <h2>Categorías</h2>
            <ul>
                <li>Tartas</li>
                <li>Tortas</li>
                <li>Cupcakes</li>
                <li>Box dulces</li>
                <li>Macarons</li>
            </ul>


        </div>

        <section class="productos">
        <div class="producto">
            <img src="images/producto1.jpg" alt="producto1" width="230px" height="153">
            <h2> Macaron</h2>
            <p>$200</p>
        </div>
        <div class="producto">
            <img src="images/producto2.jpg" alt="producto2" width="230px" height="153">
            <h2> Torta</h2>
            <p>$3000</p>
        </div>
        <div class="producto">
            <img src="images/producto3.jpg" alt="producto3" width="230px" height="153">
            <h2> Alfajor</h2>
            <p>$500</p>
        </div>
        <div class="producto">
            <img src="images/producto4.jpg" alt="producto4" width="230px" height="153">
            <h2> Surtidos</h2>
            <p>$1500</p>
        </div>
        <div class="producto">
            <img src="images/producto5.jpg" alt="producto5" width="230px" height="153">
            <h2>Cupcakes</h2>
            <p>$450</p>
        </div>
        <div class="producto">
            <img src="images/producto6.jpg" alt="producto6" width="230px" height="153">
            <h2> Triples</h2>
            <p>$600</p>
        </div>
        <div class="producto">
            <img src="images/producto7.jpg" alt="producto7" width="230px" height="153">
            <h2>Torta primavera</h2>
            <p>$3000</p>
        </div>
        <div class="producto">
            <img src="images/producto8.jpg" alt="producto8" width="230px" height="153">
            <h2> Merengada</h2>
            <p>$3500</p>
        </div>
        <div class="producto">
            <img src="images/producto9.jpg" alt="producto9" width="230px" height="153">
            <h2>Cupcakes tentación</h2>
            <p>$1000</p>
        </div>
    </section>


        <section class="eventos">
            <div class="empresarial">
                <img src="images/empresarial.jpg" alt="empresarial" width="450px" height="300">
                <h2>Brindamos servicios para eventos empresariales</h2>
                <a class="boton" href="/contacto">Consultanos</a>
            </div>
            <div class="cumpleaños">
                <img src="images/cumpleaños.jpg" alt="cumpleaños" width="450px" height="300">
                <h2>Te acompañamos en el día más importante del año</h2>
                <a class="boton" href="/contacto">Consultanos</a>
            </div>
        </section>

    </main>